@font-face {
    font-family: 'ExtraBold'; /*a name to be used later*/
    src: url('../fonts/OpenSans-ExtraBold.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'Regular'; /*a name to be used later*/
    src: url('../fonts/OpenSans-Regular.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'Inconsolata'; /*a name to be used later*/
    src: url('../fonts/Inconsolata.otf'); /*URL to font*/
}
header {
    background-color: #EDDCBB;
    background-image: linear-gradient(125deg, #EDDCBB, #155799);
    color: rgb(43, 38, 38);
    padding:30px;
    text-align: center;
    /* font-family: 'ExtraBold'; */

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 auto;
    border: none;
    font: normal 70px/normal "Anton", Helvetica, sans-serif;
    text-transform: uppercase;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 10px;
    text-shadow: 4px 4px 0 rgb(238,238,238) , 6px 6px 0 rgb(112,112,112) ;    
}
footer {
    background-color: #EDDCBB;
    background-image: linear-gradient(120deg, #EDDCBB, #155799);
    color: #EDEAE3;
    padding: 15px;
    text-align: center;
    font-family: 'ExtraBold';
    font-size: 120%;
}

/* page-header {
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
} */
h3{
      color: #304C83;
}
body{
    background-color : #F9FAFB;
    color: #222834;
    font-family: 'Regular';
}
#orderlist-official{
   color: #304C83;
}
#orderlist-unofficial{
    color: #304C83;
}
nav {
 background-color: #363636;
 width: 100%;
 font-family: 'ExtraBold';
}

section, article {
  background-color : #F9FAFB;
  padding: 10px;
  font-family: 'Regular';
}
img{
    height: 100%;
    width: 100%;
}
pre{
    font-size: 100%;
    font-family: 'Inconsolata';
}